<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tabeeby.doctor">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.snsepro.tatnew.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />

        <activity
            android:name=".activities.login.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name=".activities.login.ForgotPasswordActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.viewpager.ViewPagerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.signup.SignUpActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activities.signup.RegistrationScreen1Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.splashscreen.SplashScreenActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.profile.DoctorProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.profile.PatientProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.signup.SelectLanguageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.signup.SelectCountryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.signup.OtpPageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.maintabactivity.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activities.upoladpicture.UploadProfilePicture"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.upoladpicture.CropActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.mypatient.MyPatientActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.myappointment.MyAppointmentActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.notification.NotificationActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.quastionandanswer.QuastionAndAnswerList"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.news.NewsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.events.EventsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />

        <activity android:name=".activities.signup.PasswordScreenActivity" />

        <activity android:name=".activities.addpost.AddPostActivity" />

        <activity
            android:name=".activities.quastionandanswer.QuastionAnswerList"
            android:label="@string/title_activity_quastion_answer_list"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.quastionandanswer.AddQuestionActivity"
            android:label="@string/title_activity_add_question"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.quastionandanswer.ViewQuestionAndAnswer"
            android:label="@string/title_activity_view_question_and_answer"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.events.EventDetailActivity"
            android:label="@string/title_activity_event_detail"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>